%h1 Terms and Conditions

%hr

%h3 Thank you for using LocalVertcoins!

%h4 Terms
%p
  By accessing the website at https://localvertcoins.org, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.

%h4 No warranties
%p
  This website is provided “as is” without any representations or warranties, express or implied. Local Vertcoins makes no representations or warranties in relation to this website or the information and materials provided on this website.
%p
  Without prejudice to the generality of the foregoing paragraph, Local Vertcoins does not warrant that:
%ul
  %li
    this website will be constantly available, or available at all; or
  %li
    the information on this website is complete, true, accurate or non-misleading.

%p
  Nothing on this website constitutes, or is meant to constitute, advice of any kind. If you require advice in relation to any legal or financial matter you should consult an appropriate professional.

%h4 Limitations of liability
%p
  Local Vertcoins will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:
  %ul
    %li
      to the extent that the website is provided free-of-charge, for any direct loss;
    %li
      for any indirect, special or consequential loss; or
    %li
      for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.
%p
  These limitations of liability apply even if Local Vertcoins has been expressly advised of the potential loss.

%h4 Accuracy of materials
%p
  The materials appearing on Local Vertcoins's website could include technical, typographical, or photographic errors. Local Vertcoins does not warrant that any of the materials on its website are accurate, complete or current. Local Vertcoins may make changes to the materials contained on its website at any time without notice. However Local Vertcoins does not make any commitment to update the materials.

%h4 Links
%p
  Local Vertcoins has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Local Vertcoins of the site. Use of any such linked website is at the user's own risk.

%h4 User generated content
%p
  The information and/or opinions contained in content created by our website's users such as, but not limited to, trading requests are not necessarily those of Local Vertcoins. We are not responsible for monitoring or reviewing user generated content. Using this content is at the user's own risk.

%h4 Trading
%p
  Local Vertcoins allows people from the Vertcoin community to publish and accept their own terms of trading Vertcoins. These terms of trade are valid in all cases except when they contradict these Terms of Service, or are illegal in the jurisdiction where the trade occurs.

%h4 Allowed jurisdictions
%p
  The service provided by Local Vertcoins might not be legal in certain jurisdictions. By accepting these Terms of Use, you also confirm that using this site is legal in your jurisdiction.

%h4 Security
%p
  Passwords for this website are for your individual use only. It's your responsibility to keep your password safe. The use of software that compromises security (for instance, but not limited to, password cracking or -guessing tools) are strictly forbidden.

%h4 Modifications
%p
  Local Vertcoins may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.
