%h1 Terms and Conditions

%hr

%h3 Thank you for using LocalVertcoins!

%h4 Terms
%p
By accessing the website at https://localvertcoins.org, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.

%h4 Disclaimer
%p
The materials on Local Vertcoins's website are provided on an 'as is' basis. Local Vertcoins makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.
%p
Further, Local Vertcoins does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.

%h4 Limitations
%p
In no event shall Local Vertcoins or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Local Vertcoins's website, even if Local Vertcoins or a Local Vertcoins authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.

%h4 Accuracy of materials
%p
The materials appearing on Local Vertcoins's website could include technical, typographical, or photographic errors. Local Vertcoins does not warrant that any of the materials on its website are accurate, complete or current. Local Vertcoins may make changes to the materials contained on its website at any time without notice. However Local Vertcoins does not make any commitment to update the materials.

%h4 Links
%p
Local Vertcoins has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Local Vertcoins of the site. Use of any such linked website is at the user's own risk.

%h4 User generated content
The information and/or opinions contained in content created by our website's users such as, but not limited to, trading requests are not necessarily those of Local Vertcoins. We are not responsible for monitoring or reviewing user generated content. Using this content is at the user's own risk.

%h4 Trading
Local Vertcoins allows people from the Vertcoin community to publish and accept their own terms of trading Vertcoins. These terms of trade are valid in all cases except when they contradict these Terms of Service, or are illegal in the jurisdiction where the trade occurs. 

%h4 Allowed jurisdictions
%p
The service provided by Local Vertcoins might not be legal in certain jurisdictions. By accepting these Terms of Use, you also confirm that using this site is legal in your jurisdiction.

%h4 Security
%p
Passwords for this website are for your individual use only. It's your responsibility to keep your password safe. The use of software that compromises security (for instance, but not limited to, password cracking or -guessing tools) are strictly forbidden.

%h4 Modifications
%p
Local Vertcoins may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.
